.nav-pills {
    width: 100%;
    font-size: 3rem;
    color: #fff;
    margin-bottom: 50px;
    background-color: #6CADDC;
    height: auto;
    font-family: ;
  }
  
  .nav-pills a {
    color: white;
  }
  
  .nav-pills a:hover {
    color: #blue;
    text-decoration: none;
  }
  
  .nav-pills li {
    display: inline-block;
    padding: 26px 0;
    width: 25%;
    text-align: center;
  }
  
  ul {
    padding-left: 0px;
  }